@import url(http://fonts.googleapis.com/css?family=Oswald);

body {
	background-color: #eee;
}
h1, h3, button {
	font-family: 'Oswald', Helvetica, sans-serif;
	margin: 0 auto;
	text-align: center;
	position: relative;
}

button {
	margin: 10px auto;
	display: inherit;
	width: 75px;
	color: black;
}

.container {
	width: 520px;
	margin: 0 auto;
	padding-bottom: 10px
}

.board {
	margin-left: auto;
	margin-right: auto;
}

.corner {
	height: 250px;
	width: 250px;
	border-style: solid;
	border-width: 5px; 
}

.column {
	float: left;
	margin-bottom: 20px;
}

.highlight {
    background: -webkit-radial-gradient(circle, white, transparent); /* For Safari 5.1 to 6.0 */
    background: -o-radial-gradient(circle, white, transparent); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(circle, white, transparent); /* For Fx 3.6 to 15 */
    background: radial-gradient(circle, white, transparent); /* Standard syntax (must be last) */
}

.invisble {
	visibility: hidden;
}

#red {
	background-color: rgba(255,0,0,1);
	border-top-left-radius: 50px; 
}

#green {
	background-color: rgba(0,255,0,1);
	border-bottom-left-radius: 50px;
}

#blue {
	background-color: rgba(0,0,255,1);
	border-bottom-right-radius: 50px;
}

#orange {
	background-color: rgba(255,165,0,1);
	border-top-right-radius: 50px;
}


